/* App.css */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff; /* Ändra bakgrundsfärgen till vit */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.album-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.album-table th,
.album-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.album-table th {
  background-color: #3f51b5; /* Mjukare blå färg */
  color: white;
  text-align: left;
}

.album-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.album-table tr:hover {
  background-color: #ddd;
}

.album-table th,
.album-table td {
  padding: 12px 15px;
}

.album-table th {
  background-color: #3f51b5; /* Mjukare blå färg */
  color: white;
  text-align: left;
}

.album-table td {
  text-align: left;
}

.app-bar {
  width: 100%;
  background-color: #5c6bc0; /* Mjukare ljusblå färg */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #5c6bc0; /* Mjukare ljusblå färg */
}

.toolbar .MuiTypography-root {
  color: white; /* Vit textfärg för bättre kontrast */
}

.full-height-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff; /* Ändra bakgrundsfärgen till vit */
}

.full-height-table {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.full-height-table table {
  flex-grow: 1;
}
